<div class="text-center">
  <div class="container">
    <h1 class="titulo pt-5 pb-5">Sacale una foto<br> a tu DNI</h1>
    <webcam [height]="250" [width]="400" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch"
            [videoOptions]="videoOptions"
            [imageQuality]="1"
            (initError)="handleInitError($event)"
    ></webcam>
    <ul class="list-group list-group-flush list-style pt-5">
      <li class="list-group-item">Busca un lugar iluminado</li>
      <li class="list-group-item">Asegurate de tener un fondo claro</li>
    </ul>
  </div>
  <button class="btn btn-primary" (click)="triggerSnapshot();">Sacar foto</button>
</div>
