<div class="container text-center">
  <h1>
    Ngx-Webcam Demo
  </h1>

  <div>
    <webcam [height]="400" [width]="250" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch"
            [videoOptions]="videoOptions"
            [imageQuality]="1"
            (initError)="handleInitError($event)"
    ></webcam>
    <br/>
    <button class="btn btn-primary" (click)="triggerSnapshot();">Take A Snapshot</button>
  </div>
</div>
